# gradle

.gradle/
build/
out/
classes/
.build-target-props.json

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.cursor/
.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
